body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    height: 100%;
}

.Fullpage {
    display: flex;
    height: 100vh; 
}

.Logo {
    font-size: larger; 
    font-weight: bold; 
    text-align: left;
    display: flex;
    justify-content: left; 
    padding-left: 90px; 
    flex: 1; 
    cursor: pointer;
}

.letterI {
    font-style: italic;
}

.PDF {
    color: #EB0E0E;
}
.box-of-pdf{
    background-color: #263238;
    position: absolute; 
    top: 55%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 70%; 
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 20px;

}
.pdf-view-box {
    width: 50%; 
    height: 70vh;
    border: none;
    margin-bottom: 20px;
}
.close-button{
    position: absolute;
    top:10%;
    right: 5%;
    background-color: #fff;
    width: 7%;
    height: 5%;
}
@media screen and (max-width: 768px) {
    .pdf-view-box {
        width: 50%; 
    }
    .close-button{
        position: absolute;
        top:5%;
        right: 5%;
        background-color: #fff;
        width: 13%;
        height: 5%;
        border-radius: 5px;
    }
    
}
@media screen and (max-width: 560px) {
    @media screen and (max-width: 560px) {
        .box-of-pdf {
            background-color: #263238;
            position: absolute; 
            top: 60%; 
            left: 50%; 
            transform: translate(-50%, -50%); 
            width: 80%; 
            height: auto; 
            display: flex;
            flex-direction: column; 
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            padding: 20px; 
        }
    
        .pdf-view-box {
            width: 100%; 
            height: 70vh; 
            border: none; 
            margin-bottom: 20px;
        }
    
        .close-button {
            position: absolute;
            top: 7%; 
            left: 10%;
            background-color: #fff;
            width: 13%; 
            height: 5%;
            border-radius: 5px;
        }
    }
}

@media screen and (max-width: 480px) {
    .box-of-pdf {
        background-color: #263238;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 50vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        padding: 20px; 
    }

    .pdf-view-box {
        width: 100%; 
        height: 60%; 
        border: none; 
        margin-bottom: 20px;
    }

    .close-button {
        position: absolute;
        top: 5%;
        right: 5%;
        background-color: #fff;
        width: 18%; 
        height: 5%;
        border-radius: 5px;
    }
}